@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
	* {
		@apply border-border outline-ring/50;
	}
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
